/* Font Changes */
body {
  font-family: "Roboto", serif;
}

/* War Thunder Color Legend */
.wt-spaded {
  color: #1b325f;
}

.wt-unspaded {
  color: #3a89c9;
}

.wt-researching {
  color: #9cc4e4;
}

.wt-premium {
  color: #f26c4f;
}
